annotated-types==0.8.0
appdirs==1.4.4
autograd==1.9.1
autoray==0.7.2
cachetools==7.2.0
certifi==2026.7.22
cffi==2.1.1
charset-normalizer==3.5.1
cryptography==50.0.1
dill==0.4.1
ibm-cloud-sdk-core==3.26.1
ibm-platform-services==0.77.1
idna==3.20
kahypar==1.3.5
mpmath==1.3.0
networkx==3.6.1
numpy==1.26.4
opt_einsum==3.4.0
packaging==26.3
PennyLane==0.36.0
PennyLane-qiskit==0.36.0
PennyLane_Lightning==0.37.0
psutil==7.2.2
pycparser==3.0
pydantic==2.13.5
pydantic_core==2.46.5
PyJWT==2.15.0
pyspnego==0.12.2
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
qiskit==1.0.2
qiskit-aer==0.14.2
qiskit-ibm-provider==0.11.0
qiskit-ibm-runtime==0.23.0
requests==2.34.2
requests_ntlm==1.3.0
rustworkx==0.18.1
scipy==1.17.1
semantic-version==2.10.0
setuptools==80.9.0
six==1.17.0
stevedore==5.9.1
symengine==0.14.1
sympy==1.14.0
toml==0.10.2
tqdm==4.70.1
typing-inspection==0.4.4
typing_extensions==4.16.0
urllib3==2.8.0
websocket-client==1.9.2
websockets==17.1
